{% extends 'base.html' %}
{% block content %}

    <style>
        .left-align-hr {
            width: calc(500% + 200px);
            margin: 0 -50px 50px -500px;
            border: none;
            border-top: 3px dotted darkblue;
            border-radius: 5px;
        }
    </style>

    <div class="text-left mb-3">
        <a href="{% url 'UserManagement:edit_petprofile' %}" class="btn btn-primary">
            <i class="fas fa-cog"></i> Edit Profile
        </a> <h1 style="text-align: center">{{ user.username }}'s Profile</h1>
    </div>

    {% if pet.name %}
        <p>Name: {{ pet.name }}</p>
    {% endif %}

    {% if pet.species %}
        <p>Species: {{ pet.species }}</p>
    {% endif %}

    {% if pet.breed %}
        <p>Breed: {{ pet.breed }}</p>
    {% endif %}

    {% if pet.age %}
        <p>Age: {{ pet.age }}</p>
    {% endif %}

    {% if pet.user == request.user %}
        <p>This is your pet!</p>
    {% endif %}

    <br><hr class="left-align-hr">
{% endblock %}
