{% extends 'UserManagement/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <style>
        body {
        background-image: url('/media/registerbk.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }

    .text-black {
        color: black;
    }

    .registration-form input[type="text"],
    .registration-form input[type="email"],
    .registration-form input[type="password"],
    .registration-form textarea,
    .registration-form select,
    .registration-form p {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }

    .registration-form {
        max-width: 500px;
        margin: 0 auto;
    }

    .registration-form label {
        display: inline-block;
        width: 50%;
        text-align: left;
        padding-right: 3px;
    }

    .registration-form input[type="text"],
    .registration-form input[type="email"],
    .registration-form input[type="password"],
    .registration-form textarea,
    .registration-form select {
        width: 34%;
        margin: 10px 0;
        box-sizing: border-box;
        height: 30px;
    }

    .registration-form button {
        width: auto;
    }

    .registration-form ul {
        list-style: none;
        padding: 0;
    }

    .registration-form ul li {
        margin-bottom: 10px;
    }

    </style>

    <div class="container mt-5">
        <div id="registerContent">
            <h2 class="text-black">Register</h2>
            <form method="post" enctype="multipart/form-data" class="registration-form p-3 rounded">
                {% csrf_token %}
                {{ user_form.as_p }}
                <div id="pet-info-section" style="display: none;">
                    {{ pet_formset.management_form }}
                    <div id="pet-forms">
                        {% for form in pet_formset %}
                            <div class="pet-form">
                                {{ form.as_p }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" id="add-pet-form">+</button>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p class="mt-3">
                <a href="{% provider_login_url 'google' %}" class="btn btn-danger">Register with Google</a>
                <a href="{% url 'UserManagement:login' %}" class="btn btn-primary">Already have an account? Log in</a>
            </p>
        </div>
    </div>
    <br><br>
{% endblock %}

{% block extra_body %}
    <script src="{% static 'UserManagement/form_validation.js' %}"></script>
{% endblock extra_body %}