{% extends 'UserManagement/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Complete Your Profile{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('/frontend/src/assets/registerbk.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }

    .text-black {
        color: black;
    }

    .registration-form input[type="text"],
    .registration-form input[type="email"],
    .registration-form input[type="password"],
    .registration-form textarea,
    .registration-form select,
    .registration-form p {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }

    .registration-form {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    .registration-form label {
        display: inline-block;
        width: 50%;
        text-align: left;
        padding-right: 3px;
    }

    .registration-form input[type="text"],
    .registration-form input[type="email"],
    .registration-form input[type="password"],
    .registration-form textarea,
    .registration-form select {
        width: 34%;
        margin: 10px 0;
        box-sizing: border-box;
        height: 30px;
    }

    .registration-form input[type="file"] {
        width: 100%;
        margin-top: 10px;
        box-sizing: border-box;
    }

    .registration-form button {
        width: auto;
    }

    .registration-form ul {
        list-style: none;
        padding: 0;
    }

    .registration-form ul li {
        margin-bottom: 10px;
    }

    .registration-form .button-container,
    .registration-form .file-input-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
</style>

<div class="container mt-5">
    <div id="registerContent">
        <h2 class="text-black">Complete Your Profile</h2>
        <form method="post" enctype="multipart/form-data" class="registration-form p-3 rounded">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<br><br>
{% endblock content %}
