{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5 text-dark">
    <h1 class="display-4">Welcome Home!</h1>
    <p class="">Hello, {{ user.username }}. Here's what's new:</p>
    
    <!-- Example content and buttons -->
    <div class="mt-4">
        <form action="{% url 'UserManagement:logout' %}" method="post">

    {% csrf_token %}
    <button type="submit" class="btn btn-link">Logout</button>
</form>
    </div>
</div>
{% endblock %}