{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="bg-dark p-4 rounded">
        <h2 class="text-light">Login</h2>
        <form method="post" class="text-light">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock content %}
