{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Visibility: {{ post.visibility }}</p>
    <hr>
    <h2>Comments:</h2>
    {% for comment in post.comments.all %}
        <div>
            <h4>By {{ comment.user.username }}</h4>
            <p>{{comment.content}}</p>
        </div>
    {% empty %}
        <p>This post has no comments yet</p>
    {% endfor %}
    <a href="{% url 'comment-create' post.id %}">Add Comment</a>
{% endblock %}