<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static 'UserManagement/styles.css'  %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">  <!-- Dark theme navbar -->
            <a class="navbar-brand" href="{% url 'UserManagement:home' %}">Paws Connect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                         {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'UserManagement:logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'UserManagement:profile' %}">Profile</a></li>
{#                             if no incoming req, disable OR keep it enabled and it displays "nothing here"#}
                             <div class="dropdown">
                               <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Friend Requests
                               </button>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
{#                                   populate incoming request, display: pic, username, accept button, deny button#}
                               </div>
                             </div>
                             
                             <div class="dropdown">
                               <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Pet Requests
                               </button>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
{#                                   populate incoming request to adopt#}
                               </div>
                             </div>
                             
                             
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'UserManagement:home' %}">Home</a></li>
                        <li class="nav-item"><a class="btn btn-secondary" href="{% url 'UserManagement:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'UserManagement:register' %}">Register</a></li>


                    {% endif %}
                
                </ul>
            {% if user.is_authenticated %}
                                         <form class="form-inline my-2 my-lg-0 ">
                            <div class="form-group ">
                                <label for="filter" ></label>
                                <select class="form-control bg-warning " id="filter">
                                    <option>--Filter--</option>
                                    <option value="user" >User</option>
                                    <option value="petName" >Pet Name</option>
                                    <option value="petID" >Pet ID</option>
                                    <option value="Location" >Location</option>
                                    
                                </select>
                            </div>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
            {%  endif %}
                

            </div>
        </nav>
    </header>
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    
    <footer>
    <img id="csumb_logo" src="{{ MEDIA_URL }}logo.png" alt="CSUMB Logo">
    <p>CST438. 2024 ⒸLuciano, Baker, Rodas, Grimaldo</p>
</footer>
</body>
</html>